section {
  background-color: grey;
  width: 800px;
  height: 800px;
}

div {
  background-color: palevioletred;
  width: 50%;
  height: 50%;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 20%;
}

h2 {
  font-size: 5em;
  margin-left: 1em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

article {
  font-size: 20px;
}

button {
  font-size: 30px;
  padding: 0 30px;
  border-radius: 15px;
  background-color: aquamarine;
  color: white
}