body {
  margin: 0;
}

div {
  width: 200px;
  height: 200px;
  background-color: green;
}

h1 {
  background-color: pink;
  width: 100px;
  padding-left: 100px;
  padding-top: 200px;
  margin: 0;
}

#one {
  background-color: red;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 50px;
}

#two {
  background-color: yellow;
  border-color: aqua;
  border-style: dashed;
  border-width: 4px;
  border-left-color: red;
  border-left-width: 1px;
  margin: 20px;
}

#three {
  background-color: blue;
  border: 4px solid blueviolet
}

button {
  padding: 20px 20px 30px 40px;
}