div {
  width: 200px;
  height: 200px;
  background-color: green;
}

h1 {
  background-color: pink;
  width: 100px;
}

#one {
  background-color: red;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
}

#two {
  background-color: yellow;
}

#three {
  background-color: blue;
}
